h2
{
text-align: center;
}

.jumbotron {
    margin: auto;
    padding: 70px 30px;
    background: #7986CB;
    color: floralwhite;
}

.dropdown
{
    position: relative;
}

body{

    background-color: thistle;
}

input{
    width: 50px;
}