<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> Movieflix </title>


    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../Stylesheet/Stylesheet.css">

</head>
<body>
<h1><strong> WELCOME TO MOVIEFLIX </strong></h1>
<br>

<div class="container-fluid">

<form class="form-horizontal">

    <div class="form-group">

        <label for="inputfirstname" class="col-sm-2 control-label"><strong>Firstname :</strong></label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="inputfirstname" placeholder="Enter your First name">
        </div>
    </div>

    <div class="form-group">
        <label for="inputlastname" class="col-sm-2 control-label "><Strong>Lastname :</Strong></label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="inputlastname" placeholder="Enter your Last name">
        </div>
    </div>

    <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label"><Strong>Email :</Strong> <span class="glyphicon glyphicon-envelope"></span></label>
        <div class="col-sm-3">
            <input type="email" class="form-control" id="inputEmail" placeholder="Enter your Email Address">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword" class="col-sm-2 control-label"><Strong>Password :</Strong></label>
        <div class="col-sm-3">
            <input type="password" class="form-control" id="inputPassword" placeholder="Enter your Password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Remember me
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default"> Log in </button>
              <button type="submit" class="btn btn-default"> Sign up </button>
        </div>
    </div>
</form>
</div>
<script src="../js/bootstrap.min.js"></script>
</body>
</html>