<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> Movies </title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../Stylesheet/Movie Style.css">


</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h2><strong> Catalog of Movies </strong></h2>
    </div>
    </div>
<br><br>

<div class="container">
    <h2><strong>  Search Movies </strong></h2>
    <br>
</div>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#"> <strong> Home </strong></a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> <strong>Genre </strong><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Adventure</a></li>
                        <li><a href="#">Sci-Fi</a></li>
                        <li><a href="#">Thriller</a></li>
                        <li><a href="#">Crime</a></li>
                        <li><a href="#">Drama</a></li>
                        <li><a href="#">Fantasy</a></li>
                        <li><a href="#">Comedy</a></li>
                        <li><a href="#">History</a></li>

                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> <strong>Filter By </strong> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Year</a></li>
                        <li><a href="#">IMDB Rating</a></li>
                        <li><a href="#">IMDB Votes</a></li>
                    </ul>
                </li>

            </ul>
            <div class="pull-right">
                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <strong> <input type="text" class="form-control" placeholder="Enter a Search Term.." name="q"> </strong>
                    </div>
                </form>
            </div>
        </div>
    </nav>

<br><br><br>
<div class="container">
        <div class="col-xs-12">
    <ul class="media-list">
  <li class="media">
      <div class="media-left media-middle">
      <a href="#">
          <img class="media-object img-thumbnail" src="../Images/1.jpg" height="236" width="264" alt="Avengers: Age of Ultron">
      </a>
          </div>
    <div class="media-body">
      <h3 class="media-heading"><strong>Avengers: Age of Ultron</strong></h3>
      </div>
        </li>
        <li class="media">
    <div class="media-left media-middle">
      <a href="#">
          <img class="media-object img-thumbnail" src="../Images/2.jpg" height="236" width="264" alt="The Avengers">
      </a>
    </div>
    <div class="media-body">
        <h3 class="media-heading"><strong>The Avengers</strong></h3>
      </div>
        </li>
        <li class="media">
            <div class="media-left media-middle">
                <a href="#">
                    <img class="media-object img-thumbnail" src="../Images/3.jpg" height="236" width="264" alt="The Shawshank Redemption">
                </a>
            </div>
            <div class="media-body">
                <h3 class="media-heading"><strong>The Shawshank Redemption</strong></h3>
            </div>
        </li>
        <li class="media">
            <div class="media-left media-middle">
                <a href="#">
                    <img class="media-object img-thumbnail" src="../Images/4.jpg" height="236" width="264" alt="Batman Begins">
                </a>
            </div>
            <div class="media-body">
                <h3 class="media-heading"><strong>Batman Begins</strong></h3>
            </div>
        </li>
        <li class="media">
            <div class="media-left media-middle">
                <a href="#">
                    <img class="media-object img-thumbnail" src="../Images/5.jpg" height="236" width="264" alt="The Dark Knight">
                </a>
            </div>
            <div class="media-body">
                <h3 class="media-heading"><strong>The Dark Knight</strong></h3>
            </div>
        </li>
        <li class="media">
            <div class="media-left media-middle">
                <a href="#">
                    <img class="media-object img-thumbnail" src="../Images/6.jpg" height="236" width="264" alt="The Dark Knight Rises">
                </a>
            </div>
            <div class="media-body">
                <h3 class="media-heading"><strong>The Dark Knight Rises</strong></h3>
            </div>
        </li>

        <li class="media">
            <div class="media-left media-middle">
                <a href="#">
                    <img class="media-object img-thumbnail" src="../Images/7.jpg" height="218" width="262" alt="The Revenant">
                </a>
            </div>
            <div class="media-body">
                <h3 class="media-heading"><strong>The Revenant</strong></h3>
            </div>
        </li>

        <li class="media">
            <div class="media-left media-middle">
                <a href="#">
                    <img class="media-object img-thumbnail" src="../Images/8.jpg" height="237" width="296" alt="Star Wars: The Force Awakens">
                </a>
            </div>
            <div class="media-body">
                <h3 class="media-heading"><strong>Star Wars: The Force Awakens</strong></h3>
            </div>
        </li>

        <li class="media">
            <div class="media-left media-middle">
                <a href="#">
                    <img class="media-object img-thumbnail" src="../Images/9.jpg" height="278" width="292" alt="The Martian">
                </a>
            </div>
            <div class="media-body">
                <h3 class="media-heading"><strong>The Martian</strong></h3>
            </div>
        </li>

        <li class="media">
            <div class="media-left media-middle">
                <a href="#">
                    <img class="media-object img-thumbnail" src="../Images/10.jpg" height="249" width="301" alt="Airlift">
                </a>
            </div>
            <div class="media-body">
                <h3 class="media-heading"><strong>Airlift</strong></h3>
            </div>
        </li>
    </ul>
      </div>
</div>

<script src="../js/bootstrap.min.js"></script>
</body>
</html>