<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> Series </title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../Stylesheet/Series Style.css">

</head>
<body>

<div class="container">
    <div class="jumbotron">

        <h2><strong> Catalog of Series </strong></h2>

    </div>
</div>
<br><br>

<div class="container">
    <h2><strong>  Search Series </strong></h2>
    <br>
</div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#"> <strong> Home </strong></a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> <strong>Genre </strong><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Adventure</a></li>
                    <li><a href="#">Sci-Fi</a></li>
                    <li><a href="#">Thriller</a></li>
                    <li><a href="#">Crime</a></li>
                    <li><a href="#">Drama</a></li>
                    <li><a href="#">Fantasy</a></li>
                    <li><a href="#">Comedy</a></li>
                    <li><a href="#">History</a></li>

                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> <strong>Filter By </strong> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Year</a></li>
                    <li><a href="#">IMDB Rating</a></li>
                    <li><a href="#">IMDB Votes</a></li>
                </ul>
            </li>

        </ul>
        <div class="pull-right">
            <form class="navbar-form" role="search">
                <div class="input-group">
                    <strong> <input type="text" class="form-control" placeholder="Enter a Search Term.." name="q"> </strong>
                </div>
            </form>
        </div>
    </div>
</nav>

<br><br><br>
<div class="container">
    <div class="col-xs-12">
        <ul class="media-list">
            <li class="media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object img-thumbnail" src="../Images/A.jpg" height="237" width="298" alt="The X-Files">
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading"><strong>The X-Files</strong></h3>
                </div>
            </li>

            <li class="media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object img-thumbnail" src="../Images/B.jpg" height="262" width="300" alt="Game of Thrones">
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading"><strong>Game of Thrones</strong></h3>
                </div>
            </li>

            <li class="media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object img-thumbnail" src="../Images/C.jpg" height="227" width="300" alt="The Walking Dead">
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading"><strong>The Walking Dead</strong></h3>
                </div>
            </li>

            <li class="media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object img-thumbnail" src="../Images/D.jpg" height="361" width="300" alt="The Big Bang Theory">
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading"><strong>The Big Bang Theory</strong></h3>
                </div>
            </li>

            <li class="media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object img-thumbnail" src="../Images/E.jpg" height="293" width="300" alt="Sherlock">
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading"><strong>Sherlock</strong></h3>
                </div>
            </li>

            <li class="media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object img-thumbnail" src="../Images/F.jpg" height="442" width="300" alt="Breaking Bad">
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading"><strong>Breaking Bad</strong></h3>
                </div>
            </li>

            <li class="media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object img-thumbnail" src="../Images/G.jpg" height="207" width="299" alt="The Vampire Diaries">
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading"><strong>The Vampire Diaries</strong></h3>
                </div>
            </li>
        </ul>
    </div>
</div>

<script src="../js/bootstrap.min.js"></script>
</body>
</html>